<!DOCTYPE html>

<head>
   <title>RPi Web Server</title>
   <link rel="stylesheet" href="/static/style.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
      integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous"></script>
</head>

<body>
   <div class="margin" style="margin-top: 50px;">
      <h2>Mata grzewcza jest teraz
         {% if pins[17].state == true %}
         <strong style="color:red;">wyłączona</strong>
      </h2>
      <div class="row">
         <div class="col-md-2">
            <a href="/17/off" class="button">włącz matę grzewczą</a>
         </div>
      </div>
      {% else %}
      <strong style="color: green;">włączona</strong></h2>
      <div class="row">
         <div class="col-md-2">
            <a href="/17/on" class="button">wyłącz matę grzewczą</a>
         </div>
      </div>
      {% endif %}

      <h2>Pompa jest teraz
         {% if pins[27].state == true %}
         <strong style="color:red;">wyłączona</strong>
      </h2>
      <div class="row">
         <div class="col-md-2">
            <a href="/27/off" class="button">włącz pompę</a>
         </div>
      </div>
      {% else %}
      <strong style="color: green;">włączona</strong></h2>
      <div class="row">
         <div class="col-md-2">
            <a href="/27/on" class="button">wyłącz pompę</a>
         </div>
      </div>
      {% endif %}

      <h2>Lampa jest teraz
         {% if pins[23].state == true %}
         <strong style="color:red;">wyłączona</strong>
      </h2>
      <div class="row">
         <div class="col-md-2">
            <a href="/23/off" class="button">włącz lampę</a>
         </div>
      </div>
      {% else %}
      <strong style="color: green;">włączona</strong></h2>
      <div class="row">
         <div class="col-md-2">
            <a href="/23/on" class="button">wyłącz lampę</a>
         </div>
      </div>
      {% endif %}

      <h2>Wentylator jest teraz
         {% if pins[24].state == true %}
         <strong style="color:red;">wyłączony</strong>
      </h2>
      <div class="row">
         <div class="col-md-2">
            <a href="/24/off" class="button">włącz wentylator</a>
         </div>
      </div>
      {% else %}
      <strong style="color: green;">włączony</strong></h2>
      <div class="row">
         <div class="col-md-2">
            <a href="/24/on" class="button">wyłącz wentylator</a>
         </div>
      </div>
      {% endif %}

   </div>

   <div class="navbar">
      <a href="/">Strona startowa</a>
      <a href="/controlPanel">Panel sterowania</a>
      <a href="/diagrams">Warunki w wiwarium</a>
   </div>
</body>

</html>