<!DOCTYPE html>

<head>
   <title>RPi Web Server</title>
   <link rel="stylesheet" href="/static/style.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
      integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous"></script>
</head>

<body>
   <div class="margin" style="margin-top: 50px;">
      {% for pin in pins %}
      <h2>{{ pins[pin].name }}
         {% if pins[pin].state == true %}
         is currently <strong>on</strong></h2>
      <div class="row">
         <div class="col-md-2">
            <a href="/{{pin}}/off" class="button" >Turn off</a>
         </div>
      </div>
      {% else %}
      is currently <strong>off</strong></h2>
      <div class="row">
         <div class="col-md-2">
            <a href="/{{pin}}/on" class="button" >Turn on</a>
         </div>
      </div>
      {% endif %}
      {% endfor %}
   </div>

   <div class="navbar">
      <a href="/">Strona startowa</a>
      <a href="/controlPanel">Panel sterowania</a>
      <a href="/diagrams">Warunki w wiwarium</a>
   </div>
</body>

</html>