<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPi Web Server</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="boxHeader">
        <h2 class="header">Zakres danych:</h2>
    </div>

    <div class="selectBox">
        <select id="selector">
            <option value="1d">Ostatni dzień</option>
            <option value="3d">Ostatnie 3 dni</option>
            <option value="1w">Ostatni tydzień</option>
            <option value="1m">Ostatni miesiąc</option>
            <option value="all">Od początku</option>
        </select>
    </div>
    <div class="parent">
        <div class="chart">
            <canvas id="myChart1"></canvas>
        </div>
        <div class="chart">
            <canvas id="myChart2"></canvas>
        </div>
        <div class="chart">
            <canvas id="myChart3"></canvas>
        </div>
        <div class="chart">
            <canvas id="myChart4"></canvas>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"
        integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
    <script type="text/javascript">
        var dataFromDB = '{{ data }}'
    </script>
    <script type="text/javascript" src="/static/main.js"></script>

    <div class="navbar">
        <a href="/">Strona startowa</a>
        <a href="/17/off">Panel sterowania</a>
        <a href="/diagrams">Warunki w wiwarium</a>
    </div>
</body>

</html>