<!DOCTYPE html>
<html lang="en">

<head>
   <title>RPi Web Server</title>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static/style.css">
</head>

<body>
   <h1 class="mainHeader" style="margin-top: 200px;">Aplikacja webowa do obsługi wiwarium</h1>
   <h2 class="mainHeader">Projekt powstały w ramach pracy inżynierskiej</h2>
   <h3 class="mainHeader">Kontakt: rogkar98@gmail.com</h3>
   <h3 class="mainHeader" style="font-style: italic;">Autor: Karol Rogoziński</h3>
   
   <div class="navbar">
      <a href="/">Strona startowa</a>
      <a href="/controlPanel">Panel sterowania</a>
      <a href="/diagrams">Warunki w wiwarium</a>
   </div>

</body>

</html>